{% import '_includes/forms' as forms %}

<h2>Settings</h2>

<h3>Image transforms</h3>

<p class="instructions">
	By default, Retcon HTML will store all transformed images to directories relative to your public basepath.<br/>If this doesn't float your boat, you can set a different basepath and URL below.
</p>

<div class="field" id="baseTransformPath-field">

	<div class="heading">
		<label for="baseTransformPath">Base transform path</label>
		{{ forms.text({
			id: 'baseTransformPath',
			name: 'baseTransformPath',
			value : settings.baseTransformPath,
			placeholder : '{baseUrl}/something/something/',
		}) }}
	</div>

</div>

<div class="field" id="baseTransformUrl-field">

	<div class="heading">
		<label for="baseTransformUrl">Base transform URL</label>
		{{ forms.text({
			id: 'baseTransformUrl',
			name: 'baseTransformUrl',
			value : settings.baseTransformUrl,
			placeholder : '{siteUrl}/something/something/',
		}) }}
	</div>

</div>

<h3>Other settings</h3>

<div class="field" id="encoding-field">

	<div class="heading">
		<label for="encoding">HTML encoding</label>
		{{ forms.text({
			id: 'encoding',
			name: 'encoding',
			value : settings.encoding,
			placeholder : 'UTF-8',
		}) }}
		<p class="instructions">Sets the encoding of HTML output</p>
	</div>

</div>

<hr />

<div class="retcon-about">

	<h2>About Retcon HTML v. {{ craft.retconHtml.getPlugin.getVersion }}</h2>

	<p><em>Retcon HTML offers a series of convenient Twig filters for manipulating HTML content.</em></p>

	<h3>Documentation & support</h3>
	<p>See Retcon HTML's <a href="{{ craft.retconHtml.getPlugin.getPluginUrl }}/wiki" target="_blank">Wiki page at GitHub</a> for documentation and examples.</p>

	<h3>Disclaimer</h3>
	<p>Retcon HTML is provided free of charge. The author is not responsible for data loss or any other problems resulting from the use of this plugin.<br/>Please report any bugs, feature requests or other issues <a href="{{ craft.retconHtml.getPlugin.getPluginUrl }}">here</a>. As Retcon HTML is a hobby project, no promises are made regarding response time, feature implementations or bug amendments.</p>

	<p><strong>Pull requests are very welcome!</strong></p>

	<hr/>

	<h4>Changelog</h4>

	<h5>v. 1.0.3</h5>
	<ul>
		<li>Fixed typo in settings template</li>
	</ul>

	<h5>v. 1.0.2</h5>
	<ul>
		<li>Fixed issue with undefined constant CRAFT_SITE_URL</li>
	</ul>

	<h5>v. 1.0.1</h5>
	<ul>
		<li>Fixed issue with hostname parsing for image URLs (could cause images to not be recognized as local assets)</li>
		<li>Fixed issue with uppercase file extensions not being allowed (could cause image transforms to be rejected)</li>
	</ul>

	<h5>v. 1.0</h5>
	<p><em>Initial public release</em></p>

</div>